---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="xqEsjJ1DXwxt9AJMRaOA", oauth_nonce="8ba2113be3ccec476877872a82164c50",
        oauth_signature="ToV6skVDU%2F6bEP8XHko6md40Dio%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1358910288", oauth_token="17656843-LUr3Ajs8st1XQxunUTGIFjJsBhIvTHOFgSHmprfjk",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Access-Level:
      - read-write
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 23 Jan 2013 03:04:48 GMT
      X-Transaction:
      - 54ea25bda4697a8c
      Status:
      - 200 OK
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '9'
      X-Rate-Limit-Reset:
      - '1358910977'
    body:
      encoding: UTF-8
      string: "[{\"created_at\":\"Wed Jan 23 02:32:22 +0000 2013\",\"id\":293909005351415808,\"id_str\":\"293909005351415808\",\"text\":\"Wow,
        thanks for all your kind words on this couple hundred words I wrote.  Who
        needs god when there's love? http:\\/\\/t.co\\/wefH2a85\",\"source\":\"\\u003ca
        href=\\\"http:\\/\\/www.apple.com\\/\\\" rel=\\\"nofollow\\\"\\u003eOS X\\u003c\\/a\\u003e\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_to_screen_name\":null,\"user\":{\"id\":14749383,\"id_str\":\"14749383\",\"name\":\"Penn
        Jillette\",\"screen_name\":\"pennjillette\",\"location\":\"Las Vegas, NV,
        USA\",\"description\":\"More than 1\\/2  (by weight) of Penn & Teller at the
        Rio in Vegas, Penn's Sunday School Podcast, P&T Tell a Lie on Discovery, P&T:
        Fool Us! on ITV.God, No! - book\",\"url\":\"http:\\/\\/PennSundaySchool.com\",\"entities\":{\"url\":{\"urls\":[{\"url\":\"http:\\/\\/PennSundaySchool.com\",\"expanded_url\":null,\"indices\":[0,27]}]},\"description\":{\"urls\":[]}},\"protected\":false,\"followers_count\":1889549,\"friends_count\":7,\"listed_count\":17089,\"created_at\":\"Mon
        May 12 20:38:14 +0000 2008\",\"favourites_count\":2,\"utc_offset\":-28800,\"time_zone\":\"Pacific
        Time (US & Canada)\",\"geo_enabled\":true,\"verified\":true,\"statuses_count\":20011,\"lang\":\"en\",\"contributors_enabled\":false,\"is_translator\":false,\"profile_background_color\":\"C0DEED\",\"profile_background_image_url\":\"http:\\/\\/a0.twimg.com\\/images\\/themes\\/theme1\\/bg.png\",\"profile_background_image_url_https\":\"https:\\/\\/si0.twimg.com\\/images\\/themes\\/theme1\\/bg.png\",\"profile_background_tile\":false,\"profile_image_url\":\"http:\\/\\/a0.twimg.com\\/profile_images\\/2709934282\\/4b8bbdfdfa45ca60482137383ca2c6f2_normal.jpeg\",\"profile_image_url_https\":\"https:\\/\\/si0.twimg.com\\/profile_images\\/2709934282\\/4b8bbdfdfa45ca60482137383ca2c6f2_normal.jpeg\",\"profile_link_color\":\"0084B4\",\"profile_sidebar_border_color\":\"C0DEED\",\"profile_sidebar_fill_color\":\"DDEEF6\",\"profile_text_color\":\"333333\",\"profile_use_background_image\":true,\"default_profile\":true,\"default_profile_image\":false,\"following\":true,\"follow_request_sent\":null,\"notifications\":null},\"geo\":null,\"coordinates\":null,\"place\":null,\"contributors\":null,\"retweet_count\":99,\"entities\":{\"hashtags\":[],\"urls\":[{\"url\":\"http:\\/\\/t.co\\/wefH2a85\",\"expanded_url\":\"http:\\/\\/www.nytimes.com\\/roomfordebate\\/2013\\/01\\/22\\/is-atheism-a-religion\\/atheism-should-end-religion-not-replace-it\",\"display_url\":\"nytimes.com\\/roomfordebate\\/\\u2026\",\"indices\":[108,128]}],\"user_mentions\":[]},\"favorited\":false,\"retweeted\":false,\"possibly_sensitive\":false},{\"created_at\":\"Wed
        Jan 23 02:26:07 +0000 2013\",\"id\":293907432512552961,\"id_str\":\"293907432512552961\",\"text\":\"RT
        @ZachsMind: \\\"Feeling love is beautiful. Feeling the earth is 6,000 years
        old is stupid.\\\" @PennJillette #quote http:\\/\\/t.co\\/ZzxOkXp4 #a ...\",\"source\":\"web\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_to_screen_name[...]
